{% extends 'base.html.twig' %}

{% block title %}{{ products.name }}{% endblock %}

{% block body %}
    <h1>{{ products.name }}</h1>

    <div class="row">
        <div class="col-md-6">
            <img src="{{ asset('uploads/images/' ~ products.imageFilename) }}" alt="{{ products.name }}" class="img-fluid">
        </div>
        <div class="col-md-6">
            <p>{{ products.description }}</p>
            <p>Price: {{ product.price }}$</p>
            {% if products.available %}
                <p>Availability: In stock</p>
                <form action="{{ path('cart_add', {'id': products.id}) }}" method="post">
                    <div class="form-group">
                        <label for="quantity">Quantity:</label>
                        <input type="number" name="quantity" id="quantity" value="1" min="1" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary">Add to cart</button>
                </form>
            {% else %}
                <p>Availability: Out of stock</p>
            {% endif %}
        </div>
    </div>
{% endblock %}